<%= form_with(model: @robs, local: true) do |form| %>
  <% if @robs.errors.any? %>
    <div id="error_explanation">
      <h2><%= @robs.errors.count %>errors occurred.</h2>
      <ul>

      <% @robs.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="blog_title">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
   <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  <%= form.submit %>
<% end %>

<%= link_to "Return to List of duffs screen", robs_path %>