<h1>List of robs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Contents</th></th>
  </tr>

<% @robs.each do |rob| %>
  <tr>
    <td><%= rob.title %></td>
    <td><%= rob.content %></td>
   <td><%= link_to 'Check the details', rob_path(rob.id) %></td>
    <td><%= link_to "Edit this rob", edit_rob_path(rob.id) %></td>
    <td><%= link_to link_to 'Check the details', rob_path(rob.id) %></td>
    <td><%= link_to link_to "Edit this rob", edit_rob_path(rob.id) %></td>
    <td><%= link_to link_to 'Delete this rob', rob_path(rob.id), method: :delete ,data: { confirm: 'Are you sure?' } %>%></td>
    
  </tr>
<% end %>
 
</table>

<br>
<%= link_to 'Post a new rob', new_rob_path %>
